:root {
	--background-color: #fff;
	--text-color: #000;
	--text-color-lighter: rgb(77, 77, 77);
}

@keyframes fadeIn {
	from { opacity: 0; }
		to { opacity: 1; }
}

* {
  transition-property: color, background-color, border-color;
  transition-duration: 0.25s;

}


.fade-in-animation {
  transition-timing-function: ease;
	animation: 1s fadeIn forwards;
}

div {
	color: var(--text-color);
	line-height: 1.5;

}

body {
	position: relative;
	margin: 0px auto;
	max-width: 1000px;
	padding: 50px 15px 25px 15px;
	width: 100%;
	background-color: var(--background-color);
}

.header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.header_item {
	display: inline-block;
	margin: 0px 5px;
}

.header_item svg {
	vertical-align: middle;
}

ul {
	margin: 0px;
}