@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background-color: #fff;
	--text-color: #000;
	--text-color-lighter: rgb(77, 77, 77);
	--image-filter: none;
}

* {
	transition-property: color, background-color, border-color;
	transition-duration: 0.25s;
	box-sizing: border-box;
}


div {
	color: var(--text-color);
	line-height: 1.5;
}

body {
	padding: 20px 15px 25px 15px;
}


.header_item * {
	transition: none;
}

.header_item svg {
	vertical-align: middle;
}

.footer svg {
	width: 28px;
	height: 28px;
	opacity: 0.7;
}

.footer svg * {
	fill: var(--text-color);
}

.footer svg:hover {
	opacity: 1;
}

.footer_item:first-child {
	margin-right: 0px;
	margin-left: 10px;

}