@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background-color: #fff;
	--text-color: #000;
	--text-color-lighter: rgb(77, 77, 77);
	--image-filter: none;
}

@keyframes fadeIn {
	from { opacity: 0; }
		to { opacity: 1; }
}

* {
  transition-property: color, background-color, border-color;
  transition-duration: 0.25s;
	box-sizing: border-box;
}


.fade-in-animation {
  transition-timing-function: ease;
	animation: 1s fadeIn forwards;
}

div {
	color: var(--text-color);
	line-height: 1.5;

}

body {
	position: relative;
	margin: 0px auto;
	max-width: 1000px;
	padding: 20px 15px 25px 15px;
	width: 100%;
	background-color: var(--background-color);
}


.header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 8px;
}

.header_item {
	display: inline-block;
	margin: 0px 5px;

}

.header_item * {
	transition: none;
}

.header_item svg {
	vertical-align: middle;
}

ul {
	margin: 0px;
}

li {
	margin: 4px 0px;
}

.footer {
	display: flex;
	align-items: center;
	border-top: 1px solid var(--text-color-lighter);
	margin-right: auto;
	width: 100%;
	padding: 10px 0px;
}

.footer_item {
	display: inline-block;
	margin: 0px 10px;
}

.footer svg {
	width: 28px;
	height: 28px;
	opacity: 0.7;
}

.footer svg * {
	fill: var(--text-color);
}

.footer svg:hover {
	opacity: 1;

}
.footer_item:first-child {
	margin-right: 0px;
	margin-left: 10px;

}

html[dir="ltr"] .footer_item:first-child{
	margin-left: 0px;
	margin-right: 10px;

}
