.about-me {
	animation-delay: 0.25;
	animation: fadeIn 1s forwards;
}

.skills_item {
	animation: fadeIn 0.5s forwards;
}

.past-experience_item_icon svg {
	position: relative;
	width: 40px;
	height: 40px;
}

.for-print-only {
	display: none;
}

body.ReactModal__Body--open {
	overflow: hidden;
	max-width: 100%;
}

.small-horizontal-line {
	display: inline-block;
	width: 16px;
	height: 1px;
	margin: 0px 5px;
	border-top: 1px solid var(--text-color-lighter);
	vertical-align: middle;
	opacity: 0.5;
}

@media print {
	.main {
		flex-direction: row;
	}
	
  	.gallery-button, .header  {
  	  display: none;
  	}

	.profile-image_wrapper {
		width: 220px;
		max-width: 220px;
	}

	.skills_inner {
		flex-direction: row;
	}

	.gallery-button.for-print-only {
		display: inline-block;
	}

	.work-experiences {
		flex-grow: 2;
	}
}

@media only screen and (min-width: 600px){
	.skills_inner ul:first-child {
		padding: 0;
	}
}